header {

    background-color: gray;
    height: 90px;
    padding: 10px;

}


.caixa {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

img {

    height: 80px;
    width: 80px;

}

ul {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 20px;
    align-items: flex-start;

}

.main {

    border: 2px solid black;
}

#fotos {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
    height: 40vh;

}

.logoBranco {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 10px;

}


footer {
    display: flex;
    background-color: black;
    padding: 20px;
    height: 90px;
    justify-content: center;
    align-items: center;

}